# Sesi 1

Introduction, Data Types, and Variables

1. Introduction
2. Data Types
3. Variables

- Introduction
- Data Types
- Variables

## Integers

In [3]:
print(123123)

123123

In [4]:
print(10)

10

In [5]:
print(type(10))

<class 'int'>

## Floating Point

In [6]:
print(4.2)

4.2

In [7]:
print(4.)

4.0

In [8]:
print(.2)

0.2

In [9]:
print(.4e7)

4000000.0

In [10]:
print(4.2e-4)

0.00042

In [11]:
print(type(4.2))

<class 'float'>

## String

In [12]:
print('raka')

raka

In [13]:
print(type('hacktiv8'))

<class 'str'>

In [15]:
print(type(4.2))
print(type('4.2'))

<class 'float'>
<class 'str'>

## Boolean

In [19]:
print(True)
print(False)

True
False

In [18]:
print(type(True))
print(type('True'))

<class 'bool'>
<class 'str'>

## Variables

In [20]:
kotak_donat = 5

In [21]:
print(kotak_donat)

5

In [22]:
kotak_donat = 7
print(kotak_donat)

7

In [23]:
kotak_1 = kotak_2 = kotak_3 = 3
print(kotak_1, kotak_2, kotak_3)

3 3 3

In [24]:
kotak_donat

7

In [26]:
sembilan_bola_naga = 9

## Arithmetic Operators

In [28]:
a = 4
b = 3

In [29]:
print(a + b)

7

In [30]:
a - b

1

In [31]:
a * b

12

In [32]:
a / b

1.3333333333333333

In [33]:
4 / 2

2.0

## Comparison Operators

In [34]:
c = 10
d = 20

In [35]:
c == d

False

In [36]:
c != d

True

In [37]:
c <= d

True

In [38]:
c >= d

False

## String Manipulation

In [39]:
s = 'foo'
t = 'bar'

In [40]:
s + t

'foobar'

In [41]:
print('Hacktiv ' + 'GIT')

Hacktiv GIT

In [42]:
s * 4

'foofoofoofoo'

In [43]:
s

'foo'

In [44]:
s in 'That food is for us'

True

In [45]:
s in t

False

In [46]:
'foo' in 'That is good for us'

False

In [51]:
z = 'HackTIV8 jakarta'

print(z.capitalize())

Hacktiv8 jakarta

In [48]:
z.lower()

'hacktiv8'

In [49]:
z.swapcase()

'hACKtiv8'

In [52]:
z.title()

'Hacktiv8 Jakarta'

In [53]:
z.upper()

'HACKTIV8 JAKARTA'

## List

In [54]:
barangDiKamar = ['kasur', 'meja', 'lukisan', 'lampu']

In [55]:
barangDiKamar

['kasur', 'meja', 'lukisan', 'lampu']

In [56]:
a = [21.41, 'foo', 3, False]
print(a)

[21.41, 'foo', 3, False]

In [57]:
barangDiKamar[1]

'meja'

In [58]:
barangDiKamar[0]

'kasur'

In [59]:
barangDiKamar[-1]

'lampu'

In [60]:
barangDiKamar[-2]

'lukisan'

In [61]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [67]:
a[2:5]

['baz', 'qux', 'quux']

In [68]:
a[3:5]

['qux', 'quux']

In [72]:
a[1:3]

['bar', 'baz']

In [70]:
a[4:]

['quux', 'corge']

In [73]:
a[:4]

['foo', 'bar', 'baz', 'qux']

In [74]:
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [75]:
barangDiKamar + ['kulkas', 'lemari pakaian']

['kasur', 'meja', 'lukisan', 'lampu', 'kulkas', 'lemari pakaian']

In [76]:
barangDiKamar * 2

['kasur', 'meja', 'lukisan', 'lampu', 'kasur', 'meja', 'lukisan', 'lampu']

In [77]:
len(barangDiKamar)

4

In [78]:
min(barangDiKamar)

'kasur'

In [79]:
max(barangDiKamar)

'meja'

In [80]:
barangDiKamar

['kasur', 'meja', 'lukisan', 'lampu']

In [82]:
barangDiKamar[2] = 'lemari pakaian'

In [83]:
barangDiKamar

['kasur', 'meja', 'lemari pakaian', 'lampu']

In [86]:
del barangDiKamar[-1]

In [87]:
barangDiKamar

['kasur', 'meja', 'lemari pakaian']

In [88]:
['kasur', 'meja', ['kemeja', 'kaos', 'shorts']]

['kasur', 'meja', ['kemeja', 'kaos', 'shorts']]

## Tuples

In [89]:
namaBulanAwal = ('januari', 'februari', 'maret')

In [90]:
namaBulanAwal

('januari', 'februari', 'maret')

In [92]:
namaBulanAwal[1]

'februari'

In [93]:
namaBulanAwal[1] = 'april'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [94]:
identitas = {'nama': 'Raka',
             'alamat': 'Jakarta',
             'email': 'mail@mail.com'}

In [95]:
identitas

{'nama': 'Raka', 'alamat': 'Jakarta', 'email': 'mail@mail.com'}

In [96]:
identitas['nama']

'Raka'

In [97]:
identitas['alamat']

'Jakarta'

In [98]:
# adding new value
identitas['noHP'] = '0812345678'

In [99]:
identitas

{'nama': 'Raka',
 'alamat': 'Jakarta',
 'email': 'mail@mail.com',
 'noHP': '0812345678'}

In [100]:
identitas['noHP']

'0812345678'

In [103]:
# modify a value
identitas['noHP'] = '0823456789'

In [102]:
identitas

{'nama': 'Raka',
 'alamat': 'Jakarta',
 'email': 'mail@mail.com',
 'noHP': '0823456789'}

In [104]:
# delete a value
del identitas['noHP']

In [105]:
identitas

{'nama': 'Raka', 'alamat': 'Jakarta', 'email': 'mail@mail.com'}

In [106]:
identitas.items()

dict_items([('nama', 'Raka'), ('alamat', 'Jakarta'), ('email', 'mail@mail.com')])

In [107]:
identitas.keys()

dict_keys(['nama', 'alamat', 'email'])

In [108]:
identitas.values()

dict_values(['Raka', 'Jakarta', 'mail@mail.com'])